User requirements:

[v]  Als gebruiker wil ik een inputveld zien waarin ik mijn taak kan invullen
[v]  Als gebruiker kan ik op een button drukken met de tekst "Add Task" 
    waardoor je ingevulde taak wordt toegevoegd aan de lijst
[v]  Als gebruiker zie ik wanneer ik op de add-button heb geklikt mijn taak
    in de takenlijst verschijnen
[v]  Taak verwijderen: Als gebruiker kan ik in de takenlijst op een icoontje 
    klikken van een prullenbak, rechts naast de taak. Waardoor de taak uit 
    mijn takenlijst wordt verwijderd

API requirements:

[v]  GET: verkrijg de (initiële) lijst met taken van de database
[v]  POST: update de takenlijst met één nieuwe taak. Stuur alleen: 
    {description: "blah", done: false}
[v]  DELETE: Verwijder een taak uit de database. Gebruik  de ID die je terugkrijgt 
    als identifier
[v]  maak een file genaamd api-client.js voor al je requests

Bonus requirements:

[v]  Taak doorstrepen: Als gebruiker kan ik in de takenlijst op een checkbox 
    klikken, links naast de taak, waardoor de tekst van de taak doorgestreept 
    wordt en ik mijn taak kan afstrepen.     
[x]  Als gebruiker wil ik op mijn taak kunnen klikken en de tekst kunnen aanpassen.

Met bijbehorende API requirements:

[v]  PUT: update een bestaande taak de property done of niet done.
[v]  PUT: update een bestaande taak met de PUT methode.
